.main__alphabet{
    display: flex;
    max-width: 32%;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.alphabet-button{
    font-size: 20px;
    padding: 5px;
    min-width: 35px;
    border: solid, black, 1px;
    border-radius: 5px;
    background-color: #ffedfa;
}

.alphabet-button:hover{
    background-color: #ffcaef;
}

.header__used-letters{
    border: solid black 2px;
    max-width: 200px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 5px;
}

.used-box{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}